@import "./node_modules/bootstrap/less/bootstrap";
@import "reset";
@font: 'Quicksand', sans-serif;

body {
    font-family: @font;
}

a,
router-link {
    text-decoration: none;
    color          : #6b6b6b;

    &:hover,
    &:visited {
        text-decoration: none;
    }
}

nav {
    position: absolute;
    bottom  : 0;
    width   : 100%;

    ul {
        list-style-type: none;
        text-align     : center;
        padding        : 0;
        margin         : 0;
    }

    li {
        display  : inline-block;
        font-size: 21px;

        a,
        router-link {
            padding: 10px;
            display: block;

            &:hover {
                color: black;
            }

            &.selected {
                color           : white;
                background-color: #3c3c3c;
            }
        }
    }
}

#canvas-bg {
    position: absolute;
    top     : 0;
    z-index : -1;
}

.component-enter-active,
.component-leave-active {
    transition: opacity 0.5s;
}
/* .fade-leave-active in <2.1.8 */
.component-enter,
.component-leave-to {
    opacity: 0;
}
