$font-color: #696969;
$font-family: 'Poiret One', cursive;
$inner-container-padding: 20px;
$social-icon-color: #bfbfbf;
$social-icon-color-hover: #696969;

html {
    height: 100%;
}

body {
    height     : 100%;
    color      : $font-color;
    font-family: $font-family;
}

.container {
    height   : 100%;
    max-width: 900px;
}

.decoration {
    background-color: #bfbfbf;

    &-vertical {
        position: absolute;
        width   : 1px;
    }

    &-horizontal {
        position: absolute;
        height  : 1px;
    }
}

h1 {
    font-size: 40px;
}

h2 {
    position: relative;

    .decoration-vertical {
        height: 24px;
        left  : -4px;
        top   : auto;
        bottom: -7px;
    }

    .decoration-horizontal {
        left  : -13px;
        width : 36px;
        bottom: 0;
    }
}

#inner-container {
    margin : 30px 0;
    padding: $inner-container-padding;

    .page-decoration {
        position: relative;

        .decoration-vertical {
            height: 150px;
        }

        .decoration-horizontal {
            width: 150px;
        }

        &.top {
            top: -$inner-container-padding;

            .decoration-vertical {
                top: -13px;
            }
        }

        &.left {
            left: -$inner-container-padding;

            .decoration-vertical {
                left: 0;
            }

            .decoration-horizontal {
                left: -13px;
            }
        }

        &.bottom {
            bottom: -$inner-container-padding;

            .decoration-vertical {
                bottom: -13px;
            }
        }

        &.right {
            right: -$inner-container-padding;

            .decoration-vertical {
                right: 0;
            }

            .decoration-horizontal {
                right: -13px;
            }
        }
    }
}

#section-intro {
    margin: 30px 0 60px;
}

#section-works {
    ul {
        list-style: none;
        padding   : 0;

        li {
            position    : relative;
            overflow    : hidden;
            padding-left: 20px;

            .bg {
                transition           : 0.25s;
                position             : absolute;
                width                : 100%;
                height               : 100%;
                left                 : 20%;
                top                  : 0;
                z-index              : -1;
                opacity              : 0.0;
                background-repeat    : no-repeat;
                background-position-y: center;

                .overlay {
                    height    : 100%;
                    background: linear-gradient(90deg, transparent, white 80%);
                }
            }

            &:hover {
                .bg {
                    //   transition: 0.25s;
                    left   : 0;
                    opacity: 0.1;
                }
            }
        }

        #mark-six-checker {
            .bg {
                background-image: url("/133066_a.jpg");
            }
        }
    }
}

#section-contacts {
    margin: 50px 0 0;

    .social-icon {
        display    : inline-block;
        width      : 36px;
        height     : 36px;
        margin-left: 10px;

        svg {
            fill: $social-icon-color;
        }

        &:hover {
            svg {
                fill: $social-icon-color-hover;
            }
        }

        &:first-child {
            margin-left: 0;
        }
    }
}
