@import "main";
$platform-icon-color: $social-icon-color;
$platform-icon-color-hover: $social-icon-color-hover;

#section-intro {
    p {
        font-size: 18px;
        margin   : 16px 6px;
    }
}

#inner-section-contacts {
    //  margin: 50px 0 0;
    .social-icon {
        display : block;
        position: relative;
        margin  : 10px 0;

        svg {
            position: absolute;
            left    : 0;
            top     : -2px;
            width   : 24px;
            height  : 24px;
            fill    : $social-icon-color;
        }

        span {
            margin-left: 32px;
        }

        &:hover {
            svg {
                fill: $social-icon-color-hover;
            }
        }
    }
}

.platform-icon {
    display: inline-block;
    width  : 36px;
    height : 36px;
    margin : 0 -2px;

    svg {
        width        : 36px;
        height       : 36px;
        margin-bottom: -5px;
        fill         : $platform-icon-color;
    }

    &:hover {
        svg {
            fill: $platform-icon-color-hover;
        }
    }

    &-ios {
        svg {
            width        : 32px;
            height       : 32px;
            margin-bottom: -2px;
        }
    }

    &:first-child {
        margin-left: 12px;
    }
}

#section-skills {
    .row {
        margin-top   : 20px;
        margin-bottom: 50px;
    }

    .skill-item {
        text-align   : center;
        font-size    : 18px;
        margin-top   : 4px;
        margin-bottom: 4px;

        &-primary {}

        &-secondary {
            color: #afafaf;
        }
    }
}

#list-works {
    list-style-type: none;

    li {
        margin-bottom: 70px;
    }

    .work-icon {
        max-height : 120px;
        width      : auto;
        margin-left: 30px;

        &-rounded {
            border-radius: 10px;
        }
    }

    .work-title {
        margin-bottom: 3px;
    }

    .work-date {
        color        : #b9b9b9;
        margin-bottom: 16px;
    }
}

#list-experience {
    list-style-type: none;

    li {
        margin-bottom: 70px;

        p {
            margin-top: 20px;
        }
    }

    .company-icon {
        max-height : 120px;
        width      : auto;
        margin-left: 30px;

        &-rounded {
            border-radius: 10px;
        }
    }

    .experience-company {
        margin: 24px 0 6px;
    }

    .experience-date {
        color: #b9b9b9;
    }
}

#list-education {
    list-style-type: none;

    li {
        margin-bottom: 70px;
    }

    .education-icon {
        max-height : 120px;
        width      : auto;
        margin-left: 30px;

        &-rounded {
            border-radius: 10px;
        }
    }

    .education-school {
        margin: 24px 0 6px;
    }

    .education-date {
        color: #b9b9b9;
    }
}
