html {
  height: 100%; }

body {
  height: 100%;
  color: #696969;
  font-family: "Poiret One", cursive; }

.container {
  height: 100%;
  max-width: 900px; }

.decoration {
  background-color: #bfbfbf; }
  .decoration-vertical {
    position: absolute;
    width: 1px; }
  .decoration-horizontal {
    position: absolute;
    height: 1px; }

h1 {
  font-size: 40px; }

h2 {
  position: relative; }
  h2 .decoration-vertical {
    height: 24px;
    left: -4px;
    top: auto;
    bottom: -7px; }
  h2 .decoration-horizontal {
    left: -13px;
    width: 36px;
    bottom: 0; }

#inner-container {
  margin: 30px 0;
  padding: 20px; }
  #inner-container .page-decoration {
    position: relative; }
    #inner-container .page-decoration .decoration-vertical {
      height: 150px; }
    #inner-container .page-decoration .decoration-horizontal {
      width: 150px; }
    #inner-container .page-decoration.top {
      top: -20px; }
      #inner-container .page-decoration.top .decoration-vertical {
        top: -13px; }
    #inner-container .page-decoration.left {
      left: -20px; }
      #inner-container .page-decoration.left .decoration-vertical {
        left: 0; }
      #inner-container .page-decoration.left .decoration-horizontal {
        left: -13px; }
    #inner-container .page-decoration.bottom {
      bottom: -20px; }
      #inner-container .page-decoration.bottom .decoration-vertical {
        bottom: -13px; }
    #inner-container .page-decoration.right {
      right: -20px; }
      #inner-container .page-decoration.right .decoration-vertical {
        right: 0; }
      #inner-container .page-decoration.right .decoration-horizontal {
        right: -13px; }

#section-intro {
  margin: 30px 0 60px; }

#section-contacts {
  margin: 50px 0 0; }
  #section-contacts .social-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-left: 10px; }
    #section-contacts .social-icon svg {
      fill: #bfbfbf; }
    #section-contacts .social-icon:hover svg {
      fill: #696969; }
    #section-contacts .social-icon:first-child {
      margin-left: 0; }

#section-intro p {
  font-size: 18px;
  margin: 16px 6px; }

#inner-section-contacts .social-icon {
  display: block;
  position: relative;
  margin: 10px 0; }
  #inner-section-contacts .social-icon svg {
    position: absolute;
    left: 0;
    top: -2px;
    width: 24px;
    height: 24px;
    fill: #bfbfbf; }
  #inner-section-contacts .social-icon span {
    margin-left: 32px; }
  #inner-section-contacts .social-icon:hover svg {
    fill: #696969; }

.platform-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 -2px; }
  .platform-icon svg {
    width: 36px;
    height: 36px;
    margin-bottom: -5px;
    fill: #bfbfbf; }
  .platform-icon:hover svg {
    fill: #696969; }
  .platform-icon-ios svg {
    width: 32px;
    height: 32px;
    margin-bottom: -2px; }
  .platform-icon:first-child {
    margin-left: 12px; }

#section-skills .row {
  margin-top: 20px;
  margin-bottom: 50px; }
#section-skills .skill-item {
  text-align: center;
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 4px; }
  #section-skills .skill-item-secondary {
    color: #afafaf; }

#list-works {
  list-style-type: none; }
  #list-works li {
    margin-bottom: 70px; }
  #list-works .work-icon {
    max-height: 120px;
    width: auto;
    margin-left: 30px; }
    #list-works .work-icon-rounded {
      border-radius: 10px; }
  #list-works .work-title {
    margin-bottom: 3px; }
  #list-works .work-date {
    color: #b9b9b9;
    margin-bottom: 16px; }

#list-experience {
  list-style-type: none; }
  #list-experience li {
    margin-bottom: 70px; }
    #list-experience li p {
      margin-top: 20px; }
  #list-experience .company-icon {
    max-height: 120px;
    width: auto;
    margin-left: 30px; }
    #list-experience .company-icon-rounded {
      border-radius: 10px; }
  #list-experience .experience-company {
    margin: 24px 0 6px; }
  #list-experience .experience-date {
    color: #b9b9b9; }

#list-education {
  list-style-type: none; }
  #list-education li {
    margin-bottom: 70px; }
  #list-education .education-icon {
    max-height: 120px;
    width: auto;
    margin-left: 30px; }
    #list-education .education-icon-rounded {
      border-radius: 10px; }
  #list-education .education-school {
    margin: 24px 0 6px; }
  #list-education .education-date {
    color: #b9b9b9; }

/*# sourceMappingURL=resume.css.map */
